.spoiler-warning span {
  font-weight: bold;
}
.spoiler .spoiler-content {
  padding: 1em;
  border: 1px solid #ddd;
  background-color: #ccc;
  color: #ccc;
}
.spoiler-js {
  border: 1px dotted;
  padding: 1em;
}
.spoiler-js .spoiler-warning span.spoiler-button {
  cursor: pointer;
  background-color: #ddd;
  padding: 4px;
  border-color: #cecece #4a4a4a #4a4a4a #cecece;
  border-style: solid;
  border-width: 1px 2px 2px 1px;
}
